
01-recipe-page-main/assets/fonts/outfit/README.txt
01-recipe-page-main/design/desktop-design.jpg
01-recipe-page-main/design/mobile-design.jpg
01-recipe-page-main/README-template.md
01-recipe-page-main/README.md
01-recipe-page-main/style-guide.md
01-recipe-page-main/preview.jpg
